/*
 COLORS OF PROJECT
*/
//Primary colors
$primary-white-color: #ffffff;
$primary-black-color: #000000;
$primary-fonts-color: #0c0c0c;
$primary-gray-color: #212020;
$primary-blue-color: #11497B;
$primary-red-color: #b50909;
$primary-green-color: #86BC42;
//Additional colors
$additional-red-dark-color: #5d0505;
$additional-blue-dark-color: #167cd7;
$additional-black-light-color: #1b1b1b;
$additional-white-dark-color: #f7f5f5;

/*
CONTAINER MAIN VARIABLES
*/
$container-width: 1400px;
$container-padding: 15px;