<header class="header">
    <div class="header__wrapper container">
        <ul class="header-navbar__list">
            <li class="header-navbar__list-item"><a href="#" class="header-navbar__list-link">Home</a></li>
            <li class="header-navbar__list-item"><a href="#" class="header-navbar__list-link">About</a></li>
            <li class="header-navbar__list-item"><a href="#" class="header-navbar__list-link">Contacts</a></li>
            <li class="header-navbar__list-item"><a href="#" class="header-navbar__list-link">Catalog</a></li>
            <li class="header-navbar__list-item"><a href="#" class="header-navbar__list-link">FAQ</a></li>
        </ul>
    </div>
</header>